body {
  height: 100vh;
  padding-block: 2rem;
  padding-inline: 3rem;
  font-family: "Indie Flower";
  background-color: #666666;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

body div {
  width: 22%;
  height: 40%;
  align-content: center;
  box-shadow: 7px 7px 10px #353535, inset 0px -55px 50px #babcbe75;
  transition: all;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
}

.yellow {
  background-color: #f6f6c4;
  transform: rotate(3deg);
  transform-origin: top left;
}

.green {
  background-color: #c5f5c8;
  transform: rotate(-4deg);
  transform-origin: top right;
}

.violet {
  background-color: #c7c7f5;
  transform: rotate(6deg);
  transform-origin: top left;
}

body div:hover {
  transform: rotate(0);
  transition: all 50ms;
  scale: 1.2;
  box-shadow: 10px 10px 20px #353535;
}
